body {
    min-height: 100vh;
    color: white;
}

.carte {
    background-color:#c80000;
}

p {
    text-align: justify;
}

h2 {
    font-size: 7rem;
}

@media (max-width: 768px) {  
    h2 {
        font-size:5rem;
        text-align: center;
    }
}